/*      Hex Color Code
        dark green = #09412F
        grey(bg) = #EBEBEB
        yellowish(bg) = #FFF6E0
        orange(button) = #E1B97D

        white = #FFFFFF
        black = #000000
*/
/* FONTS */
/* FONTS */
/* FONTS */
@font-face {
  /* @font-face :point to the font file */
  font-family: Gaegu;
  src: url(fonts/Gaegu-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Gaegu;
  src: url(fonts/Gaegu-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gaegu;
  src: url(fonts/Gaegu-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Medium.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-SemiBold.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-ExtraBold.ttf);
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-ExtraBoldItalic.ttf);
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/*          Universal CSS           */
/*          Universal CSS           */
/*          Universal CSS           */
/* This ::-webkit-scrollbar family allows to modify the look of browser's scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* addresses the empty space “below” the progress bar */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* addresses the draggable scrolling element it resizes depending on size of scrollable element */
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

u {
  text-decoration: none;
  border-bottom: 3px solid #FFF6E0;
}

.basicbtn {
  color: #E1B97D;
  border: 2px solid #E1B97D;
  background-color: #09412F;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 18px;
  font-family: Montserrat;
  font-style: italic;
}

.basicbtn:hover {
  background-color: #E1B97D;
  color: #09412F;
  transition: 0.4s;
}

/*          navigation bar          */
/*          navigation bar          */
/*          navigation bar          */
.navbar{
  min-height: 200px;
  width: 100%;
  padding-top: 2%;
  overflow: hidden;
  position: fixed;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.9026961126247374) 0%, rgba(0,212,255,0) 100%);  
  z-index: 200;
  top: 0;
}
#navlogo{
  position: absolute;
  left: 5.5%;
  float: left;
}
#navlistbox{
  position: absolute;
  right: 2%;
  float: right;
  padding-top: 1.5%;
}
#currentpg{
  font-weight: 200;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 0px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  margin-right: 40px;
}
.dropbtn:focus {
  outline:none;
  box-shadow: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  font-family: Montserrat;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}         /* .dropdown */

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn{
  font-weight: 100;
  transition: 0.1s;
}

/*  dont delete this:- to get rid of unnecessary padding & margin  */
* {
  margin: 0%;
  padding: 0%;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
  /* scale(): increases the size of picture to 150%  */
  transition: 0.7s;
}

/* DELICIOUS PREMIUM VIDEO */
/* DELICIOUS PREMIUM VIDEO */
/* DELICIOUS PREMIUM VIDEO */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}

header video {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  transform: translateX(0%) translateY(-19%);
  /* translateX(): reposition element horizontally,translateY(): reposition element vertically */
}

#slideup {
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

h1#text {
  padding-right: 900px;
  color: white;
  font-size: 7.5em;
  margin-top: 0px;
  z-index: 1;
  font-family: Montserrat;
}

.left {
  float: left;
  height: 200px;
  width: 50%;
}

.right {
  height: 200px;
}

#middle {
  height: 200px;
}

#menudrinks {
  width: 100%;
  min-height: 353px;
  background-color: #EBEBEB;
  color: #09412F;
  padding: 120px;
}

/* DRINKS */
/* DRINKS */
/* DRINKS */
#drinks h1 {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 200%;
}

#drinks {
  margin-left: 5%;
  margin-right: 5%;
}

hr.line {
  border: none;
  height: 1.0px;
  background: grey;
  width: 25em;
  margin: 25px;
  margin-left: 0px;
}

/* COFFEE */
#sqcoffee {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#coffee h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentcoffee ul {
  padding-left: 150px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#pickopi {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* TEA */
#sqtea {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#tea h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contenttea ul {
  width: 550px;
  padding-left: 150px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#pictea {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BLENDED FRAPUCINO */
#sqblended {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#blended h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentblended ul {
  width: 550px;
  padding-left: 150px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#picfrape {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* COLD DRINKS */
#sqcold {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#cold h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentcold ul {
  width: 550px;
  padding-left: 50px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
  float: left;
}

#picjuice {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* DESSERTS */
/* DESSERTS */
/* DESSERTS */
#menudesserts {
  width: 100%;
  min-height: 190px;
  background-color: #EBEBEB;
  background-image: linear-gradient(#EBEBEB, #FFF6E0);
  color: #09412F;
  padding: 120px;
}

#desserts h1 {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 200%;
  padding-top: 20px;
}

#desserts {
  margin-left: 5%;
  margin-right: 5%;
}

/* BAKES */
#sqbakes {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#bakes h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentbakes ul {
  padding-left: 150px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#pickek {
  overflow: hidden;
  display: block;
  margin-left: -30px;
}

/* SANDWICH */
#sqsandwich {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#sandwich h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentsandwich ul {
  width: 550px;
  padding-left: 150px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#picsandwich {
  overflow: hidden;
  display: block;
  margin-left: -20px;
}

/* SNACKS */
#sqsnacks {
  padding-top: 0;
  height: 85px;
  width: 85px;
  margin: 10px;
  float: left;
}

#snacks h1 {
  padding-left: 105px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 26px;
}

#contentsnacks ul {
  width: 550px;
  padding-left: 50px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
  float: left;
}

#picchoc {
  overflow: hidden;
  display: block;
  margin-left: -20px;
}

/* KOPI BY WILLIES */
/* KOPI BY WILLIES */
/* KOPI BY WILLIES */
#menuroast {
  background-color: #FFF6E0;
  padding: 120px;
}

#coffeebeanBox {
  min-height: 25rem;
  margin-left: 5%;
  margin-right: 5%;
}

#beanDisplay {
  margin-top: 2rem;
  padding-left: 10px;
}

#CAH {
  font-weight: bold;
  font-family: Montserrat;
  color: #09412F;
  font-size: 20px;
  padding-bottom: 15px;
}

#LightBox {
  float: left;
  min-width: 25rem;
}

#MedBox {
  float: left;
  min-width: 25rem;
}

#DarkBox {
  float: left;
  min-width: 25rem;
}

#sqlight {
  height: 85px;
  width: 85px;
  margin-left: 105px;
  padding-bottom: 90px;
}

#sqmed {
  height: 85px;
  width: 85px;
  margin-left: 105px;
  padding-bottom: 90px;
}

#sqdark {
  height: 85px;
  width: 85px;
  margin-left: 105px;
  padding-bottom: 90px;
}

.contentbean {
  padding-top: 14px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 18px;
}

#LightBox h1 {
  font-weight: 100;
  font-style: italic;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
}

#MedBox h1 {
  font-weight: 100;
  font-style: italic;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
}

#DarkBox h1 {
  font-weight: 100;
  font-style: italic;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
}

/*  footer related css */
/*  footer related css */
/*  footer related css */
footer{
  overflow: hidden;
}
#footMain{
  position: relative;
  overflow: hidden;
  background-color: #09412F;
  color:#FFF6E0;
  width: 100%;
  /*min-height: 80%;*/
  font-family: Montserrat;
  font-weight: normal;
  letter-spacing: 2px;
}
#footleft{
  padding-left: 5%;
  padding-top: 2.1%;
  float: left;
}
#footleftUpper{
  font-size: 45px;
}
#footleftLower{
  position: absolute;
  bottom: 3%;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0px;
}
#footright{
  /*width: 35%;*/
  padding-top: 2.1%;
  float: right;
  margin-right: 5%;
}
#footrightUpper{
  min-height: 300px;
}
#footrightUpperLeft{
  float: right;
  margin-left: 8rem;
}
#footrightUpperMid{
  float: right;
  margin-left: 8rem;
}
#footrightUpperRight{
  float: right;
  margin-left: 8rem;
}
.anchorBtm{
  font-weight: bolder;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}
.footerLink li{
  list-style-type: none;
  margin-bottom: 0.3rem;
}
.footerLink li a{
  text-decoration: none;
  color: #FFF6E0;
}
.footerLink li a:hover{
  color: #E1B97D;
  transition: 0.1s;
}
#footSocmed {
  right: 5%;
  position: absolute;
  bottom: 3%;
}
#footSocmed li{
  list-style-type: none;   /* list-style-type: specifies the type of list-item marker in a list. */
  margin-left: 30px;
  float: left;
}
#IconIg{
  height: auto; 
  width: auto; 
  max-width: 32px; 
  max-height: 32px;
}
#IconFb{
  height: auto; 
  width: auto; 
  max-width: 26px; 
  max-height: 26px;
  padding-top: 3px;
}
#IconTw{
  height: auto; 
  width: auto; 
  max-width: 28px; 
  max-height: 28px;
  padding-top: 3px;
}
